# Зависимости
node_modules/
package-lock.json

# Файлы окружения
.env
.env.local
.env.production

# Логи
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Директории
dist/
build/
coverage/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
